:root {
    /* https://www.nordtheme.com/docs/colors-and-palettes */
    --nord0: #2E3440;
    --nord1: #3B4252;
    --nord2: #434C5E;
    --nord3: #4C566A;

    --nord4: #D8DEE9;
    --nord5: #E5E9F0;
    --nord6: #ECEFF4;

    --nord7: #8FBCBB;
    --nord8: #88C0D0;
    --nord9: #81A1C1;
    --nord10: #5E81AC;

    --nordRed: #BF616A;
    --nordOrange: #D08770;
    --nordYellow: #EBCB8B;
    --nordGreen: #A3BE8C;
    --nordMagenta: #B48EAD;

    --c-bg: var(--nord1);
    --c-bg-alt: var(--nord0);
    --c-text: var(--nord6);
    --c-link: var(--nord8);
}

.App {
    height: 100vh;
  text-align: left;
  background-color: var(--c-bg);
  color: var(--c-text);
  display: flex;
  flex-direction: column;
}

.buffer {
    text-align: left;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
    flex-grow: 1;
    
}

.minibuffer {
    
  background-color: var(--c-bg-alt);
}

button {
    background: none;
    border: thin solid var(--c-link);
    color: var(--c-text);
    padding: 10px;
    margin-right: 5px;
}
